.git
.fake
.idea
.venv
.venv*
.conda
.conda*
.cache
.vscode
.DS_Store
._.DS_Store
.clang-format
.ipynb_checkpoints

log
logs
img
imgs
data
datas
build
builds
output
outputs
result
results
resource
resources
__pycache__

*.dSYM
*.egg-info

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.gif
*.svg

*.txt
*.csv
*.log
*.pdf
*.docx
*.doc
*.xls
*.xlsx

*.zip
*.tar
*.gz
*.rar
*.7z
*.bz2
*.xz
*.whl
*.pkl
*.pickle
*.db

*.npy
*.h5
*.pb
*.pt
*.pth
*.ckpt
*.bin
*.trt
*.onnx
*.safetensors
*.torchscript

!**/assets/**
!**/requirements.txt
!**/CMakeLists.txt
